/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Montserrat", serif;
      line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow:none;
}

*{
  font-family: "Montserrat", serif;
      box-sizing: border-box;

}


body {
  font-family: "Montserrat", serif;
        margin: 0;
}

::-webkit-scrollbar {
  width: 4px; 
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136); 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585858; 
}
