.custom-cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  border: 2px solid #6b67e4;
  border-radius: 50%;
  background-color: #6b67e4;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s ease-out, opacity 0.3s ease-out; 
}

.custom-cursor.clicked {
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%) scale(1.5);
}

.custom-cursor.hidden {
  opacity: 0; 
}

@media (max-width: 999px) {
  .custom-cursor {
    display: none;
  }
}

